.faqs {
width: 100;
max-width: 768px;
margin: auto;
padding: 15px;
}

.faqs .faq {
margin: 15px;
padding: 15px;
background-color: #FFF;
border-radius: 8px;
box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
position: relative;
font-size: 20px;
padding-right : 80px;
transition: all 0.4s ease;
}

.faqs .faq .fag-question::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s ease;
}


.faqs .faq .faq-answer {
opacity: 0;
max-height: 0;
overflow-y: hidden;
transition: all 0.4s ease;
}

.faqs .faq.open .faq-question {
margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
    transform:translateY(-50%);
}

.faqs .faq.open .faq-answer{
    max-height: 1000px;
    opacity: 1;
}