.table tr:nth-child(even) {
  background-color: lightblue;
}

.table tr {
  background-color: lightgrey;
}

.table tr:hover {
  background-color: lightcoral;
}

td {
  padding: 40px;

}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid grey;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  font-size: 25px;
}

.li {
  margin-left: 10%;
  background-color: orange;
  width: 100px;

}

Button:hover {
  background-color: green;
}

.textCenter {
  text-align: center;
}